.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
}

#nav-title{
  font-family: "Bungee", sans-serif;
  font-size: 1.5em;
  margin-left: 1.5em;
}

#nav-tweet-btn{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
  font-weight: 300;
  margin-right: 1.5em;

}

.fa-angles-down{
  color: red;
}

@media screen and (min-width: 728px) and (max-width: 1023px){
  .navbar{
    background-color: orange;
    background-image: url('/images/paper-3.png'); 
    background-repeat: no-repeat; /* Ensures the image does not repeat */
    background-size: cover; /* Resizes the image to cover the entire element */
    height: 4em;
  }
}
